/*------------------------------------*\
  Formularios editar
\*------------------------------------*/
.admin__edit {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    transition: all .2s ease;
  }
  &.admin__edit_open {
    &:after {
      opacity: 1;
      background-color: $c-default-over;
      pointer-events: all;
    }
  }
}

.edit__slide {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  min-width: 320px;
  max-width: 460px;
  height: 100vh;
  padding: 50px 16px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  color: $c-default;
  list-style: none;
  background-color: $c-neutro;
}
